:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hover-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --project-gap: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* HEADER START */

header {
  border-bottom: 1px solid #ececec;
}

.container__header {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__nav {
  display: flex;
}

.container__nav,
.contacts__list {
  align-items: center;
}

.nav__list {
  display: flex;
  
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.contacts {
  display: flex;
  
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__icon {
  display: flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #ffffff;
}



.container__logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  min-width: 145px;
  max-width: 170px;

  margin-right: 93px;
}

.container__logo:hover {
  color: #2196f3;
}

.nav__link.curent {
  font-family: "Roboto";
  color: var(--accent-color);
}

.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.contacts__link {
  display: flex;
  margin: 0;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;

  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  transform: scale(1.1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

/* Позиціонування та переходи */

.nav__link.curent::after {
  display: block;
  position: absolute;
  content: "";

  width: 48px;
  height: 4px;
  bottom: -1px;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__link {
  transform: scale(1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.nav__link:hover {
  transform: scale(1.1);
}

.nav__item {
  position: relative;
}

/* Позиціонування та переходи */

 /* HEADER END */ 

/* <!-- Кнопки фільтра --> */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button__btn {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  list-style: none;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;

  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.button__btn:hover,
.button__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: scale(1.1);
}

.button__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 94px;
  margin-bottom: 50px;
}

/* Проєкти */

.projects {
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;

  margin-left: calc(-1 * var(--project-gap));
  margin-top: calc(-1 * var(--project-gap));
}

.projects__item {
  flex-basis: calc(100% / 3 - var(--project-gap));

  margin-left: var(--project-gap);
  margin-top: var(--project-gap);

  border: 1px solid #eeeeee;

}

.projects__card-content {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
  margin-bottom: 4px;
}

.projects__card-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0px;
}

.projects__card-content {
  padding: 20px 24px;
}



.projects__card-link {
  text-decoration: none;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__card-link:hover .projects__overlay,
.projects__card-link:focus .projects__overlay {
  transform: translateY(0);
}

.projects__overlay {
  position: absolute;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  opacity: 0.9;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.projects__card-desc {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.projects__card-link:hover,
.projects__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Футер */

.section__footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__link {
  color: #ffffff;

}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer__link,
.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);

}

.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);

}

.footer__address-group {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.footer {
  background-color: var(--secondary-background-color);
}

.container__footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__logo {

  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  min-width: 145px;
  max-width: 170px;
}



.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials__text {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-socials__icon {
  fill: #ffffff;


}

.footer-socials__list {
  display: flex;
  gap: 10px;
margin: 0;
  padding: 0;
  margin-right: 93px;
  list-style: none;
}


.footer-socials__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  


  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--accent-color);
  transform: scale(1.2);
}

.footer-form__title {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-form__group {
  display: flex;
}

.footer-form__field {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  outline-color: tr;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-form__field:focus {
  outline-color: var(--accent-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  margin-left: 12px;

  display: inline-flex;
  text-align: center;
  align-items: center;
  padding: 10px 28px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.footer-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.footer-btn__icon {
  fill: #ffffff;
  margin-left: 10px;
}


